<section class="about" id="about">
    <div class="about-img">
        <img src="assets/images/about.png" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>FullStack Developer</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique adipisci quaerat nulla? Inventore quaerat officia nisi placeat sed rerum, voluptatum maxime repudiandae labore eius nostrum porro omnis pariatur voluptatibus itaque ullam facilis dolores maiores nam! Mollitia nostrum quia neque dolor eligendi maxime quaerat aperiam quas quis!</p>
        <a href="#" class="btn">Ream More</a>
    </div>
</section>