<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Ajay Kharat</h1>
        <h3>And I'm a <span>MEAN Stack Developer</span></h3>
        <p>Results-driven Angular Developer with 1.8 years' experience in crafting
            scalable web applications. Proficient in Angular (12+), TypeScript, and
            agile collaboration. Seeking a dynamic development role to apply
            technical proficiency and drive results.
        </p>
        <div class="social-media">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-github'></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="assets/images/home.png" alt="Home Image">
    </div>
</section>